<div class="jumbotron" style="position: relative;">
  <div class="d-flex justify-content-center"> 
    <h1 class="display-4" style="font-family: 'Poppins', sans-serif;">GAYATHRI RAJALAKSHMI G</h1>
  </div>
  <div style="position: absolute; bottom: 5px; right: 10px;">
    <a href="https://www.linkedin.com/in/gayathri-rajalakshmi-g-93021b308/" target="_blank" class="">
    <img src="../../../assets/images/linked.png" width="24" height="24" class="round circle  me-2" alt="">
   
   </a>

   <a href="https://github.com/dashboard" target="_blank" class="">
    <img src="../../../assets/images/github.png" width="24" height="24" class="round circle  me-2" alt="">
   
   </a>


  </div>
</div>
