<nav class="navbar navbar-expand-md border-bottom mb-1">
  <div class="container">
    <ul class="nav mx-auto">
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/home" routerLinkActivate="text-dark">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/skill" routerLinkActivate="text-dark">Skill</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/resume" routerLinkActivate="text-dark">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/contact" routerLinkActivate="text-dark">Contact</a>
      </li>
      
    </ul>
    
  </div>
</nav>
